.linksDivLeft {
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 15%;
  left: -5%;
  transform: rotate(-90deg);
}

.linksDivRight {
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20%;
  right: -10%;
  transform: rotate(-90deg);
}

.description {
  font-size: 1.25rem;
}

.emailLink {
  font-size: 1.25rem;
  margin-left: 0.5rem;
  color: var(--off_white);
  text-decoration: none;
}

.emailLink:hover {
  color: var(--blue);
}

.socialLink:hover {
  border-bottom: 0.05rem solid transparent;
}

.iconWrapper {
  margin-left: 1rem;
}

.line {
  margin-right: 1rem;
  width: 8rem;
}
