#pastWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.workOne {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 1.5rem 0;
}

#workOne:hover,
#workTwo:hover,
#workThree:hover {
  border: solid 1rem var(--blue);
}

#workOne,
#workTwo,
#workThree {
  width: 90%;
  border: solid 1rem var(--lighter_background);
}

.secondWorkGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 260px;
}

.bottomWorks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.workPagesWrapper {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.workText {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.Workpage {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  /* /* justify-content: center; */
  align-items: center;
}
